.search-list{
  list-style-type: none;
  width: 702px;
  margin: auto;
  @include respond-to(sm){
     width: 400px;
  }
  @include respond-to(xs){
     width: 350px;
  }
  li{
    padding: 10px;
    overflow: auto;
    h4{
      font: bold 20px/1.5 $font-stack;
      margin: 0 15px 0 0;
    }
    div{
      width: 350px;
      display: inline-block;
      padding: 10px;
      float: left;
      min-height: 98px;
      @include respond-to(xs){
        width: 300px;
        float: none;
      }
      @include respond-to(sm){
        width: 350px;
        float: none;
      }
      img{
        display: inline-block;
        @include respond-to(xs){
          max-width: 280px;
          }
        @include respond-to(sm){
          max-width: 350px;
        }
      }
    }
    p{
      font: 200 12px/1.5 Georgia, Times New Roman, serif;
    }
  }
  & li:hover {
    background: $light-gray-color;
    cursor: pointer;
  }
}