@import
'reset',

  //Partials
'partials/var',
'partials/colors',
'partials/mixins',

  //App Layout
'layout',

  //Modules
'components/search-list',
'components/navbar',
'components/logo',
'components/_home-button';

/*
$font-stack:    Helvetica, sans-serif;
$primary-color: #777;


body {
  font: 100% $font-stack;
  background-color: $primary-color;
}

* {margin: 0; padding: 0;}

.navbar {
  margin: 0;
  z-index: 900;
  color: #fff;
  overflow: visible;
  .container {
    background-color: $primary-color;
    background-image: none;
    border-radius: 0;
    padding: 0 9px;
    z-index: 900;
    height: 60px;
  }
  .nav {
    height: 60px;
    position: relative;
    left: 0;
    display: block;
    float: left;
    margin: 0 10px 0 0;
    .button {
      background-color: $primary-color;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
    }
    & .button:hover {
      background: #999;
      cursor: pointer;
    }
  }
}

.search {
  text-align: center;
  margin: 56px auto 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 918px;
  section {
    margin-bottom: 18px;
    .logo {
      margin: -1px auto 30px auto;
      height: 86px;
      width: 500px;
      background-size: 500px 86px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("https://cdn2.iconfinder.com/static/bb905a78c7104b48b6e0c9dcb2e30609/assets/img/homepage-logo.png");
    }
  }
}

.search-form {
  margin-bottom: 27px;
}


.query {
  font-size: 18px;
  font-weight: normal;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 2px 0 0 2px;
  border: 0;
  width: 600px;
  height: 22px !important;
  background-color: #fff;
  padding: 13px 13px;
  line-height: 24.2px;
  color: #242424;
  box-sizing: content-box;
  vertical-align: middle;
}

.command {
  height: 48px !important;
  width: 82px !important;
  padding-left: 30px;
  padding-right: 25px;
  -webkit-border-radius: 0 2px 2px 0;
  -webkit-appearance: button;
  box-shadow: none;
  margin: 0;
  margin-left: -4px;
  margin-bottom: 0;
  border: 0 !important;
  padding: 9.9px 18px;
  vertical-align: middle;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background: url(/imdb/images/search-green.png);
}

.search-list{
  list-style-type: none;
  width: 702px;
  margin: auto;
    li{
      padding: 10px 10px 10px 0;
      overflow: auto;
      h4{
        font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
        margin: 0 15px 0 0;
      }
      div{
        width: 345px !important;
        min-height: 98px;
        float: left;
        img{
          margin: 0 15px 0 0;
        }
      }

      p{
        font: 200 12px/1.5 Georgia, Times New Roman, serif;
      }
    }
    & li:hover {
       background: #999;
       cursor: pointer;
  }
}
*/
